[Desktop Entry]
Name=GNUitar
Name[pl]=GNUitar
Comment=Guitar effects processor
Comment[pl]=Procesor efektów gitarowych
Exec=gnuitar
Icon=gnuitar
Terminal=false
Type=Application
Categories=GTK;Audio;
# vi: encoding=utf-8: termencoding=iso-8859-2
